*{
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}


.canvas {
    justify-content: center;
    display: flex;
    background-color:rgb(100, 100, 100);
}

#left-side {
    background-color: aqua;
    color:white;
    padding: 5px 5px;
}

#right-side {
   background-color: aqua;
    color: white;
    padding: 5px 5px;

}

